
<!-- <div class="text-danger">we have {{getTeachersCount()}} teachers + and {{getStudentsCount()}} students
    and {{getClassesCount()}} classes and {{getSubjectsCount()}} subjects
</div> -->
<div class="container">
    <div class="row m-5">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>header</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur perspiciatis quisquam eaque dolores maxime quibusdam. Saepe harum id, quibusdam pariatur architecto labore obcaecati deleniti! Tenetur veniam atque repellendus ducimus? Laboriosam.</p>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="" class="img-fluid" alt="">
      </div>
    </div>

   
    <div class="row m-5" >
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h1 class="pl-3">header</h1>
          <p >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptas quo, debitis ullam eius praesentium officia enim ipsa numquam quis, quod atque voluptates sunt soluta adipisci explicabo porro accusantium consequuntur.
          </p>
        </div>
    </div>
</div>