
  
  <!-- page title -->
<section class="page-title-section ">
    <div class="container">
      <div class="row enter-block justify-content-center">
        <div class="col-md-8 text-center " style="height: 400px;">
            <h1 class="fw-bold" style="font-size: 36px;;">Manar School </h1>
        </div>
      </div>
    </div>
  </section>

<div class=" pb50">
    <div class="row m-5 center-block justify-content-center" >
        <div class="col-md-9 mb40  text-center ">
            <article>
                <div class="post-content" *ngFor="let annoc of _annocement;let currentIndex=index;">
                    <h1 class="fw-bold">{{annoc.title}}</h1>
                    <p class="p-3">{{annoc.description}} </p>
                   
                    <img src="http://127.0.0.1:8000/storage/assets/{{annoc.media}}" alt="" class="img-fluid mb30" style="height: 300px;">

                    <br>                    <br>


                </div>
            </article>
            <!-- post article-->

        </div>
     
    </div>
</div>
