
<app-header></app-header>
<div class="row justify-content-center ">
    <div class="col-4">
        <h1 class="text-center fw-bolder">{{name}}</h1>
<form [formGroup]="formAdd">
<div class="container mt-sm-5 my-1">
    <div class="question ml-sm-5 pl-sm-5 pt-2"  >
        <div class="py-2 h5"><b>Q. {{quistions.value}}</b>
        </div>
     
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options" *ngFor="let mats of options;let currentIndexs=index;"> 
            <label class="options" >{{mats.value}}
            <input type="radio" name="radio" formControlName="correct" value="{{currentIndexs+1}}"> <span class="checkmark" ></span> </label>
         
                    </div>
    </div>
    <div>
    <div class="d-flex align-items-center pt-3">
        <div class="ml-auto mr-sm-5" *ngIf="quesid >0"> <button class="btn btn-success m-3" (click)="Previous()">Previous</button> </div>

        <div class="ml-auto mr-sm-5" *ngIf="quesid < l"> <button class="btn btn-success" (click)="Next()">Next</button> </div>
        <div class="ml-auto mr-sm-5" *ngIf="quesid==l"> <button class="btn btn-success" (click)="finish()">Finish</button> </div>

    </div>
    
</div>
</div>
</form>
</div>
</div>
<app-footer></app-footer>