 
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="#">Education</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3"  routerLink="/user/logout">Logout</a>
      </div>
    </div>
    </header>
    
    <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/admin/home">
                <!-- <span data-feather="home"></span> -->
                <i class="fa fa-home"></i>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" (click)="toggleDisplay()">
                <!-- <span data-feather="file"></span> -->
                <i class="fa fa-users"></i>
                Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="addStudent" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay">
                <!-- <span data-feather="file"></span> -->
                <i class="fa fa-plus"></i>
                Add Student
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="view-students" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay">
                <!-- <span data-feather="file"></span> -->
                All Students
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" (click)="toggleDisplay2()">
                <!-- <span data-feather="shopping-cart"></span> -->
                <i class="fa fa-user"></i>

                Teachers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="addTeacher" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay2">
                <!-- <span data-feather="file"></span> -->
                Add Teacher
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="view-teachers" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay2">
                <!-- <span data-feather="file"></span> -->
                All Teachers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" (click)="toggleDisplay3()">
                Classrooms
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="add-classroom" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay3">
                <i class="fa fa-plus"></i>
                Add Classroom
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="view-classrooms" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay3">
                <!-- <span data-feather="file"></span> -->
                All Classrooms
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" (click)="toggleDisplay4()">
                Subjects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="add-subject" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay4">
                <i class="fa fa-plus"></i>
                Add Subject
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="view-subjects" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample" [hidden]="isDisplay4">
                <!-- <span data-feather="file"></span> -->
                All Subjects
              </a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" [routerLink]="['/admin-profile',admin.id]">
                <i class="fa fa-user-circle"></i>
                My Profile
              </a> -->
              <button  class="btn btn-primary" routerLink='/admin/admin-profile/{{user.id}}'>profile</button>
              <!-- (click)="clickHandler(admin.id)" -->
            </li>
            </ul>
        </div>
    </nav>
  
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        </div> -->

<router-outlet></router-outlet>

    </main>
</div>
</div>