<table class="table">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">ClassroomId</th>
        <th scope="col">Government</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students;let currentIndex=index">
        <th scope="row">{{currentIndex+1}}</th>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.classroomId}}</td>
        <td>{{student.government}}</td>
        <td>{{student.city}}</td>
        <td>{{student.street}}</td>
        <td><button class="btn btn-primary btn-sm" routerLink="/admin/details-student/{{student.id}}">Details</button></td>
        <td><button class="btn btn-primary btn-sm" routerLink="/admin/edit-student/{{student.id}}">Edit</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
