<!-- <div class="table-responsive-sm"> -->
<table class="table table-striped table-hover mt-5">
    <thead>
      <tr class="fs-6">
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Phone</th>
        <th scope="col">ClassroomId</th>
        <th scope="col">Government</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students | paginate: { itemsPerPage: count, currentPage: p };">
        <th scope="row">{{student.id}}</th>
        <td>{{student.name}}</td>
        <td>{{student.username}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.classroomId}}</td>
        <td>{{student.government}}</td>
        <td>{{student.city}}</td>
        <td>{{student.street}}</td>
        <td><button class="btn btn-primary btn-sm" routerLink="/admin/details-student/{{student.id}}">Details</button></td>
        <td><button class="btn btn-info btn-sm text-white" routerLink="/admin/edit-student/{{student.id}}">Edit</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="deleteStudent(student.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <!--Including the pagination control.-->
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
<!-- </div> -->
<!-- </div> -->