
<div class="container-fluid p-0 sticky-top" style="width: 100%;" >
    <header class="navbar navbar-expand-lg d-flex flex-wrap bg-warning justify-content-center " >
      <a routerLink="/profile/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4 ps-5 edu" style="text-shadow: 2px 2px 4px #000000;"><i class="fa fa-home" ></i>Education</span>
      </a>
  
      <ul ngbNav class="nav nav-pills">
        <!-- <li class="nav-item"><a routerLink="/student/home" class="fs-6 text-white nav-link" aria-current="page">Home</a></li> -->
        <!-- <li class="nav-item"><a routerLink="/profile/about" class="fs-6 text-white nav-link">About</a></li> -->
        <!-- <li class="nav-item"><a routerLink="/profile/contact" class="fs-6 text-white nav-link"> <i class="fa fa-comment"></i>  Contact</a></li> -->
        <li class="nav-item"><a routerLink="/teacher/home/{{teacherid}}" class="fs-6 text-white nav-link"> <i class="fa fa-home" ></i>  classes</a></li>
        <li class="nav-item"><a routerLink="/teacher/profile/{{teacherid}}" routerLinkActive="router-link-active" class="fs-6 text-white nav-link"><i class="fa fa-user-circle-o"></i>  My Profile</a></li>
        <li ngbDropdown class="nav-item ">
          <a  (click)="false" class="fs-6 text-white bg-transparent nav-link" ngbDropdownToggle><i class="fa fa-bell"></i>  Notifications</a>
          <div ngbDropdownMenu  >
            <button class="text-wrap lh-base " ngbDropdownItem *ngFor="let notify of notifications; let currentIndex =index;" > {{currentIndex+1}}:- {{notify.data.message}}</button>
            <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">+99 <span class="visually-hidden">unread messages</span></span> -->
          </div>
        </li>  

        <li class="nav-item"><a routerLink="/user/logout" class="text-white fs-6 nav-link"><i class="fa fa-sign-out"></i>  Logout</a></li>
      </ul>
    </header>
  </div>
  