
   <div class="row d-flex justify-content-center  mb-2">
    <div class="col-12 text-center  rounded  text-dark">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 300px;">
            <img src="./assets/photos/backgroundschool.jpg" alt="pic2" style="  width: 100%;
            height: auto;">
            <div class="carousel-caption d-none d-md-block text-dark">
             <h1>quiz</h1>

              <h3>{{_subject.name}}</h3>
            <!--   <p>class</p>
              <p>teacher</p> -->
              
            </div>
          </div>

        </div>
      </div>
    </div>
</div> 
<div class="row d-flex justify-content-center">
<div class="col-8  m-3 ">
 <table class="table justify-content-center ">
     <thead class="thead-dark">
       <tr>
         <th scope="col">#</th>
         <th scope="col">name</th>

       </tr>
     </thead>
     <tbody>
         <tr *ngFor="let mat of _quiz;let currentIndex=index;">
             <th scope="row"> {{mat.id}}</th>
             <td>
                 <p>{{mat.name}}</p> 
              </td>
     </tr>
      
     </tbody>
   </table>
   
 </div>
</div>