
<h1 class="border-bottom mt-5"> Edit New Post: </h1>
<div [formGroup]="formAdd" >
<div class="row g-3">
  
    <div class="col-md-6">
        <label  class="form-label" >Title Post</label>
        <input type="text"  class="form-control" formControlName="title" name="title">
      </div>
   
    </div>
    <br>


    <div class="row g-3">
  
      <div class="col-md-6">
          <label  class="form-label" >Description</label>
          <input type="text"  class="form-control" formControlName="description" name="description">
        </div>
      </div>
      <br>

    <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Media</label>
     
      <input type="file" class="form-control"  formControlName="media" name="media" (change)="uploadfile($event)" >
     <br>
      <object data="">
    
     </object>
    </div>
  </div>
  <br>

    <div class="row g-3">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="Updatepost()" >Edit Post</button>
      </div>
    </div>

  </div>
