<app-student-header></app-student-header>
<!-- <p>student-profile works!</p> -->
<section class="profile-area card">
    <div class="profile-content card-body d-flex">
        <!-- <div class="user-image-wrap mr-5">
            <img src="assets/img/profile-photo.png" alt="">
        </div> -->
        <div class="user-about ms-5">
            <h2 class="text-danger">Name: {{student.name}} </h2>
            <p>Email: {{student.email}}</p>
            <p>Phone: {{student.phone}}</p>
            <p>Class ID: {{student.classroomId}}</p>
            <p>Address: {{student.street + student.city+student.government}}</p>
            
        </div>
    </div>
</section>

<app-footer></app-footer>