<app-student-header></app-student-header>
<!-- <p>student-profile works!</p> -->

<section class=" mt-5 ">
    <div class="">
        <!-- <div class=" mr-5">
            <img src="{{data}}" width="250px" height="250px" alt="profile picture">
        </div>
        <div class=" ms-5">
            <h2 class="text-danger">Name: {{student.name}}  </h2>
            <p>Email: {{student.username}}</p>
            <p>Phone: {{student.phone}}</p>
            <p>Class ID: {{student.classroomId}}</p>
            <p>Address: {{student.street + student.city+student.government}}</p>
        </div> -->
        <ul class="flex-column text-center lh-lg" style="list-style-type: none;">
            <div class=" mr-5">
                <img src="{{data}}" width="200px" height="150px" alt="profile picture" class="rounded-circle">
            </div>
            <li class=" text-danger fw-bold fs-5"> Name: <span class="fw-normal">{{student.name}} </span></li>
            <li class="fw-bold fs-6"> <i class="fa fa-user-circle"></i>  Username: <span class="fw-normal">{{student.username}} </span></li>
            <li class="fw-bold fs-6"> <i class="fa fa-id-badge" aria-hidden="true"></i>  Classroom ID: <span class="fw-normal">{{student.classroomId}} </span></li>
            <li class="fw-bold fs-6"><i class="fa fa-phone" ></i> Phone: <span class="fw-normal">{{student.phone}} </span></li>
            <li class="fw-bold fs-6"><i class="fa fa-map-marker"></i>  Address: <span class="fw-normal"> {{student.street + ' ' + student.city + ' ' + student.government}} </span></li>
        </ul>
    </div>
</section>

<app-footer></app-footer>