<h1 class="border-bottom mt-5"> Edit Subject Form: </h1>
<div [formGroup]="formEdit" >
<div class="row g-3">

    <div class="col-md-6 form-group" >
        <label  class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" name="name"  >
      </div>
      <div class="col-md-6 form-group">
        <label  class="form-label">Classroom ID</label>
        <input type="number" class="form-control" formControlName="classroomId" name="classroomId"  >
      </div>


    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="updateSubject()" >Update</button>
    </div>
</div>
</div>

