<h1 class="border-bottom mt-5"> Edit Assign Teachers Form: </h1>
<div [formGroup]="formEditAssign" >
<div class="row g-3">

    <div class="col-md-6 form-group" >
        <label  class="form-label">Teacher ID</label>
        <input type="number" class="form-control" formControlName="teacherId" name="teacherId"  >
      </div>
      <div class="col-md-6 form-group">
        <label  class="form-label">Subject ID</label>
        <input type="number" class="form-control" formControlName="subjectId" name="subjectId"  >
      </div>

      <div class="col-md-6 form-group">
        <label  class="form-label">Classroom ID</label>
        <input type="number" class="form-control" formControlName="classroomId" name="classroomId"  >
      </div>


    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="updateTeaches()" >Update</button>
    </div>
</div>
</div>


