
<app-teacher-header></app-teacher-header>
<section class=" card">
    <div class=" card-body d-flex">
        <!-- <div class="user-image-wrap mr-5">
            <img src="assets/img/profile-photo.png" alt="">
        </div> -->
        <div class=" ms-5">
            <h2 class="text-danger">Name:{{teacher.name}} </h2>
            <p>Email: {{teacher.email}}</p>
            <p>Phone: {{teacher.phone}}</p>
            <p>Address: {{teacher.street+teacher.city+teacher.government}}</p>
            
        </div>
    </div>
</section>

<app-footer></app-footer>