
<app-teacher-header></app-teacher-header>
<section class=" card">
    <div class=" card-body d-flex">
        <!-- <div class="user-image-wrap mr-5">
            <img src="assets/img/profile-photo.png" alt="">
        </div> -->
        <div class=" ms-5">
            <h2 class="text-danger">Name:John </h2>
            <p>Email: John@gmail.com</p>
            <p>Phone: +991230344455</p>
            <p>Address: 82 Kuen Suk Shuen Tsuen Hang Hiu Kowloon</p>
            
        </div>
    </div>
</section>

<app-footer></app-footer>