<h1 class="border-bottom mt-5"> Add Student Form: </h1>
<div class="row g-3">
    <div class="col-md-6">
        <label for="inputID" class="form-label">ID</label>
        <input type="number" class="form-control" id="inputID">
      </div>

    <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName">
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail">
      </div>
    <div class="col-md-6">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword">
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Phone</label>
        <input type="text" class="form-control" id="inputPhone">
      </div>
      <div class="col-md-6">
        <label for="inputLevel" class="form-label">Level</label>
        <input type="number" class="form-control" id="inputLevel">
      </div>
      <div class="col-md-6">
        <label for="inputClass" class="form-label">ClassRoom ID</label>
        <input type="number" class="form-control" id="inputClass">
      </div>
    <div class="col-md-6">
      <label for="inputPicture" class="form-label">Picture</label>
      <input type="file" class="form-control" id="inputPicture">
    </div>
    <div class="col-md-4">
      <label for="inputGov" class="form-label">Government</label>
      <input type="text" class="form-control" id="inputGov" >
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputStreet" class="form-label">Street</label>
      <input type="text" class="form-control" id="inputStreet">
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary">Add Student</button>
    </div>
</div>