<app-header></app-header>
<div class="row d-flex justify-content-center  mb-2">
    <div class="col-12 text-center  rounded  text-dark">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 400px;">
            <img src="./assets/images/techer.jpeg" alt="pic2" style="  width: 100%;
            height: 400px;">
            <div class="carousel-caption d-none d-md-block text-dark">
              <!-- <h1>_subject.name</h1> -->
              <h1 class="fw-bold"> ClassRoom :  {{classroomid}}</h1>
              <!-- <p>teacher</p> -->
              
            </div>
          </div>

        </div>
      </div>
    </div>
</div>



    <div class="row  justify-content-center align-middle text-center ">
        <a routerLink="matrial" routerLinkActive="active" class="justify-content-center d-flex text-dark" style="text-decoration: none;">  
         <div class=" text-center p-3 m-2 rounded  col-3 bg-warning text-dark " >
          
          <h1 class="mb-3 h2 align-middle "> Matrials</h1>
        
        </div></a>

    </div>
 
       <div class="row d-flex justify-content-center align-middle">
        <a routerLink="assignment" routerLinkActive="active" class=" d-flex justify-content-center text-dark" style="text-decoration: none;">  
            <div class=" text-center p-3 m-2 rounded col-3 bg-warning text-dark align-middle justify-content-center">
            <h1 class="mb-3 h2 align-middle "> Assignments</h1> 
          </div></a>
        <a routerLink="quiz" class=" d-flex justify-content-center text-dark" style="text-decoration: none;">
        <div class="text-center p-3 m-2 rounded col-3 bg-warning text-dark align-middle">
            <h1 class="mb-3 h2 align-middle "> Quiz</h1>
        </div>
    </a>
       </div>
  <app-footer></app-footer>