<app-header></app-header>


<div class="row justify-content-center m-5 p-5">
    <div class="col-4">
        <h1 class="text-center fw-bolder">Upload Assignment</h1>
        <form class="border p-5" [formGroup]="formAdd" >
            <div class="form-group col-3">
    
                <input type="file" class="form-control-file" id="exampleFormControlFile1" formControlName="file" (change)="uploadfile($event)"> <br><br>
              </div>
    
      <div>
         <button type="submit" class="btn btn-warning" (click)="uploadAssignment()">Upload</button>
</div>
  </form>
</div>
</div>
<app-footer></app-footer>