<table class="table table-striped table-hover mt-5">
    <thead>
      <tr class="fs-5">
        <th scope="col">#id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Phone</th>
        <th scope="col">Government</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teachers | paginate: { itemsPerPage: count2, currentPage: p2 };">
        <th scope="row">{{teacher.id}}</th>
        <td>{{teacher.name}}</td>
        <td>{{teacher.email}}</td>
        <td>{{teacher.username}}</td>
        <td>{{teacher.phone}}</td>
        <td>{{teacher.government}}</td>
        <td>{{teacher.city}}</td>
        <td>{{teacher.street}}</td>
        <td><button class="btn btn-primary btn-sm"routerLink="/admin/details-teacher/{{teacher.id}}">Details</button></td>
        <td><button class="btn btn-info text-white btn-sm" routerLink="/admin/edit-teacher/{{teacher.id}}">Edit</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="deleteTeacher(teacher.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
  </div>
<!-- Teacher Teaches Subjects -->
<table class="table table-striped table-hover mt-5">
  <thead>
    <tr class="fs-5">
      <!-- <th scope="col">#id</th> -->
      <th scope="col">Teacher ID</th>
      <th scope="col">Subject ID</th>
      <th scope="col">Classroom ID</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of teach | paginate: { itemsPerPage: count1, currentPage: p1 };">
      <!-- <th scope="row">{{item.id}}</th> -->
      <td>{{item.teacherId}}</td>
      <td>{{item.subjectId}}</td>
      <td>{{item.classroomId}}</td>
      <td><button class="btn btn-primary btn-sm" routerLink="/admin/edit-assign/{{item.id}}">Edit</button></td>
      <!-- <td><button class="btn btn-danger btn-sm" (click)="deleteTeacher(item.id)">Delete</button></td> -->
    </tr>
  </tbody>
</table>
<div class="text-right">
  <pagination-controls (pageChange)="p1 = $event"></pagination-controls>
</div>

