
<!-- page title -->
<section class="page-title-section ">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><h2 class=" text-dark fw-bold fs-1" >Your bright future is our mission</h2></li>
            <!-- <li class="list-inline-item text-white h3 font-secondary nasted">About Us</li> -->
          </ul>
          <p class="text-dark fs-5 mb-0 ">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->
  
  <!-- about -->
  <!-- <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">ABOUT OUR JOURNY</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ipsa illo quod veritatis, magni debitis fugiat dolore voluptates! Consequatur, aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat perferendis sint optio similique. Et amet magni facilis vero corporis quos.</p>
          <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum a, facere fugit error accusamus est officiis vero in, nostrum laboriosam corrupti explicabo, cumque repudiandae deleniti perspiciatis quae consectetur enim. Laboriosam!</p>
        </div>
      </div>
    </div>
  </section> -->
  <!-- /about -->

  <!-- funfacts -->
<!-- <section class="section-sm bg-warning ">
    <div class="container">
      <div class="row">
        <!-- funfacts item -->
        <!-- <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white fs-4" data-count="60">0</h2>
            <h5 class="text-white fs-4">TEACHERS</h5>
          </div>
        </div> -->
        <!-- <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white fs-4" data-count="50">0</h2>
            <h5 class="text-white fs-4">COURSES</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white fs-4" data-count="1000">0</h2>
            <h5 class="text-white fs-4">STUDENTS</h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white fs-4" data-count="3737">0</h2>
            <h5 class="text-white fs-4">SATISFIED CLIENT</h5>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </section> --> 
  <!-- /funfacts -->

  <!-- success story -->
<section class="section mt-3 ">
  <!-- style="background-image: url(&quot;src/assets/images/success-story.jpg&quot;);"> -->
  <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-4  ">
          <img class="w-100 h-100"  src="/assets/images/about-us.jpg">
            <!-- <i class="ti-control-play"></i> -->
          
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white p-5">
            <h2 class="section-title">About our Journey</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /success story -->

  <!-- footer -->
<footer>
    
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom"style="background-color: #182b45;">
      <div class="container">
        <!-- <div class="row"> -->
          <div class="col-lg-12 col-sm-8 mb-5 mb-lg-0 text-center">
            <!-- logo -->
            <!-- <a class="logo-footer" routerLink="profile/home"></a> -->
            <h2 class="text-white">Contact Us:</h2>
            <ul class="list-unstyled">
              <li class="mb-2 text-white ">180 street loriem Cairo, Nasr City</li>
              <li class="mb-2 text-white ">+2 0122 1011 3987</li>
              <li class="mb-2 text-white ">+2 0122 7663 3997</li>
              <li class="mb-2 text-white ">contact@yourdomain.com</li>
            </ul>
          </div>
          
          
        <!-- </div> -->
      </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer" style="background-color: #182b45;">
      <div class="container">
        <div class="row">
          <div class="col-sm-7 col-md-12 text-sm-left text-center">
            <p class="mb-0">Copyright &copy;
              , designed & developed by <a href="https://themefisher.com/" class="text-muted">Themefisher</a>
            </p>
          </div>
          <!-- <div class="col-sm-5 text-sm-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://facebook.com/themefisher/"><i class="ti-facebook text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://twitter.com/themefisher"><i class="ti-twitter-alt text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://github.com/themefisher"><i class="ti-github text-primary"></i></a></li>
              <li class="list-inline-item"><a class="d-inline-block p-2" href="https://instagram.com/themefisher/"><i class="ti-instagram text-primary"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer -->
